<!DOCTYPE html>
<html lang="en">
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Elements</title>
</head>
<body>
<table id="elements" style="width:100%">
    {% if result %}
    <tr>
        <th>Name</th>
	<th>Atomic Number</th>
        <th>Atomic Weight</th>
	<th>Symbol</th>
        <th>Electronic Configuration</th>

    </tr>
    {% for row in result %}
    <tr>
        <td> {{ row[0] }}</td>
	<td> {{ row[1] }}</td>
        <td> {{ row[2] }}</td>
	<td> {{ row[3] }}</td>
        <td> {{ row[4] }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>


</body>
<h2> {{ nam }} </h2>
<p> {{ dt }} </p>
</html>
